.not-found {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 32px;
}

.not-found h1 {
    font-size: 120px;
}

.not-found a {
    text-decoration: none;
    background-color: #116FEB;
    color: #FFF;
    padding: 16px;
    border-radius: 8px;
}

.container-notfound {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 60px);
}